node-red/.flows.json.backup
[{"id":"0a6112440637ce6d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3243c2be17b65ac8","type":"tab","label":"Lighting","disabled":false,"info":"","env":[]},{"id":"1ddedd6d.041643","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"cbaed5b4a4115c23","type":"zigbee2mqtt-server","name":"Zigbee2mqtt","host":"10.10.10.100","mqtt_port":"1883","mqtt_username":"mqtt","mqtt_password":"mqtt","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"1494a9e0275a2bca","type":"server-state-changed","z":"3243c2be17b65ac8","name":"Office Bulp","server":"1ddedd6d.041643","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.office_bulp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["45cc3c7febf828ef"]]},{"id":"1fd3939cfe7dbf42","type":"api-call-service","z":"3243c2be17b65ac8","name":"Office Strip","server":"1ddedd6d.041643","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":["light.office_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":80,"wires":[[]]},{"id":"45cc3c7febf828ef","type":"function","z":"3243c2be17b65ac8","name":"","func":"const cs = global.get('homeassistant').homeAssistant.states[msg.topic].state;\nconst cc = global.get('homeassistant').homeAssistant.states[msg.topic].attributes.rgb_color;\nconst cb = global.get('homeassistant').homeAssistant.states[msg.topic].attributes.brightness;\nconst ce = global.get('homeassistant').homeAssistant.states[msg.topic].attributes.effect;\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_\" + cs,\n    data: {\n        \"rgb_color\": cc,\n        \"brightness\": cb,\n        \"effect\": ce\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["1fd3939cfe7dbf42"]]},{"id":"8f9e06808c4cc103","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Hall Dimmer On/Off","server":"cbaed5b4a4115c23","friendly_name":"hall_dimmer","device_id":"0x842e14fffe7ca468","state":"action","outputAtStartup":true,"x":170,"y":360,"wires":[["f0cca4ffe6d588a8","15c74248301f77ff","8b12cf3c19647a2f"]]},{"id":"f0cca4ffe6d588a8","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_living_room","device_id":"0x5c0272fffe66ee5d","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":480,"y":320,"wires":[]},{"id":"15c74248301f77ff","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_toilet","device_id":"0x5c0272fffe8999a5","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":460,"y":380,"wires":[]},{"id":"8b12cf3c19647a2f","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_entre","device_id":"0x5c0272fffe3350a3","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":460,"y":440,"wires":[]},{"id":"780ecfeb79e27995","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_living_room","device_id":"0x5c0272fffe66ee5d","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":480,"y":500,"wires":[]},{"id":"c156e3bc3223693f","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_entre","device_id":"0x5c0272fffe3350a3","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":500,"y":560,"wires":[]},{"id":"f3b30bb1ebdb461c","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"hall_light_toilet","device_id":"0x5c0272fffe8999a5","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":500,"y":620,"wires":[]},{"id":"7741964fc8180d25","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Hall Dimmer Brightness","server":"cbaed5b4a4115c23","friendly_name":"hall_dimmer","device_id":"0x842e14fffe7ca468","state":"brightness","outputAtStartup":false,"x":180,"y":560,"wires":[["780ecfeb79e27995","c156e3bc3223693f","f3b30bb1ebdb461c"]]},{"id":"4e9ce8781340ead3","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Bedroom Dimmer On/Off","server":"cbaed5b4a4115c23","friendly_name":"bedroom_dimmer","device_id":"0xbc33acfffea35a22","state":"action","outputAtStartup":true,"x":170,"y":740,"wires":[["a2cbbb5fa9bccb2f","b2ea857a4d6c84c0"]]},{"id":"58ea429e143b6036","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_1","device_id":"0x5c0272fffe2b75eb","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":680,"wires":[]},{"id":"a2cbbb5fa9bccb2f","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_2","device_id":"0x5c0272fffe3dbadd","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":740,"wires":[]},{"id":"b2ea857a4d6c84c0","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_3","device_id":"0x5c0272fffe899a47","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":800,"wires":[]},{"id":"e26cadce42e27bbb","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_1","device_id":"0x5c0272fffe2b75eb","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":860,"wires":[]},{"id":"32a23ae7fbdd5813","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_2","device_id":"0x5c0272fffe3dbadd","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":490,"y":920,"wires":[]},{"id":"ef8fef38ef032106","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"bedroom_bulp_3","device_id":"0x5c0272fffe899a47","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":490,"y":980,"wires":[]},{"id":"c0a8f00eec725426","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Bedroom Dimmer Brightness","server":"cbaed5b4a4115c23","friendly_name":"bedroom_dimmer","device_id":"0xbc33acfffea35a22","state":"brightness","outputAtStartup":false,"x":180,"y":920,"wires":[["32a23ae7fbdd5813","ef8fef38ef032106","e26cadce42e27bbb"]]},{"id":"abb41c1e93768f29","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"","server":"cbaed5b4a4115c23","friendly_name":"","device_id":"0x5c0272fffe1ca9a0","command":"color_hsv","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1260,"y":1260,"wires":[]},{"id":"c5d91234e0e1ac31","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"Bedside bulp","server":"cbaed5b4a4115c23","friendly_name":"bedside_bulb","device_id":"0xbc33acfffe5f073c","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":1140,"wires":[]},{"id":"ad494a603461fc10","type":"zigbee2mqtt-out","z":"3243c2be17b65ac8","name":"Bedside bulp","server":"cbaed5b4a4115c23","friendly_name":"bedside_bulb","device_id":"0xbc33acfffe5f073c","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":450,"y":1200,"wires":[]},{"id":"21e6cd9f974616d2","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Rotater Brightness","server":"cbaed5b4a4115c23","friendly_name":"rotater","device_id":"0x0c4314fffeaeef58","state":"brightness","outputAtStartup":false,"x":150,"y":1120,"wires":[["c5d91234e0e1ac31"]]},{"id":"5a2e1a43034e66e9","type":"zigbee2mqtt-in","z":"3243c2be17b65ac8","name":"Rotater Toggle","server":"cbaed5b4a4115c23","friendly_name":"rotater","device_id":"0x0c4314fffeaeef58","state":"action","outputAtStartup":false,"x":140,"y":1200,"wires":[["ad494a603461fc10"]]}]