node-red/.flows.json.backup
[{"id":"4597ce94.5e675","type":"tab","label":"Schedules","disabled":false,"info":""},{"id":"11e717f7.634048","type":"tab","label":"Lights and Switches","disabled":false,"info":""},{"id":"1e6e196f.047067","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ae84ad3e.a2cb","type":"mqtt-broker","name":"Local","broker":"10.10.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4fe246e.fa9688","type":"telegram bot","botname":"magevej_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"ccd77536.4c6c38","type":"delay","z":"4597ce94.5e675","name":"Delay 3 hours","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1340,"y":1020,"wires":[["a94439ac.27e768"]]},{"id":"a94439ac.27e768","type":"api-call-service","z":"4597ce94.5e675","name":"Stop charging","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.control_unit_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1640,"y":1020,"wires":[[]]},{"id":"9f74e479.087218","type":"switch","z":"11e717f7.634048","name":"Door closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":60,"wires":[["455b6097.f8d2b"],["1964ee37.d7d562"]]},{"id":"62b022e0.d3985c","type":"mqtt out","z":"11e717f7.634048","name":"Pantry Light","topic":"zigbee2mqtt/pantry_light/set","qos":"","retain":"","broker":"ae84ad3e.a2cb","x":1050,"y":100,"wires":[]},{"id":"455b6097.f8d2b","type":"change","z":"11e717f7.634048","name":"Set state on","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"on\", \"brightness\": 254, \"color_temp\": 333.333}","tot":"json"},{"t":"set","p":"pantry_light.on","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":40,"wires":[["62b022e0.d3985c"]]},{"id":"1964ee37.d7d562","type":"change","z":"11e717f7.634048","name":"Set state off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"off\"}","tot":"json"},{"t":"set","p":"pantry_light.on","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["62b022e0.d3985c"]]},{"id":"f94127b7.8789b8","type":"server-state-changed","z":"11e717f7.634048","name":"Banquet Hall Button Click","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.banquet_hall_button_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":420,"wires":[["d9d2a13e.76c41"],[]]},{"id":"d9d2a13e.76c41","type":"api-call-service","z":"11e717f7.634048","name":"Toggle Banquet Hall Control Unit","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.banquet_hall_control_unit","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":420,"wires":[[]]},{"id":"e78339d8.ae3f98","type":"server-state-changed","z":"11e717f7.634048","name":"Bedroom Dimmer Brightness","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_dimmer_brightness","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":640,"wires":[["cac7fc71.290d"]]},{"id":"cac7fc71.290d","type":"api-current-state","z":"11e717f7.634048","name":"Are the Bedroom Lights on?","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":440,"y":640,"wires":[["23212d58.45e6a2"],[]]},{"id":"23212d58.45e6a2","type":"api-current-state","z":"11e717f7.634048","name":"Is the brightness greater than 0","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.bedroom_dimmer_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":750,"y":680,"wires":[["39069b2d.43a654"],["5ea1bc4e.e322a4"]]},{"id":"39069b2d.43a654","type":"api-call-service","z":"11e717f7.634048","name":"Bedroom lights","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_lights","data":"{\t   \"brightness\": {{ payload }}\t}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":680,"wires":[[]]},{"id":"5ea1bc4e.e322a4","type":"change","z":"11e717f7.634048","name":"Set payload to 15","rules":[{"t":"set","p":"payload","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":760,"wires":[["39069b2d.43a654"]]},{"id":"912fca63.c8fde8","type":"server-state-changed","z":"11e717f7.634048","name":"Hall Dimmer Brightness","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hall_dimmer_brightness","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":480,"wires":[[]]},{"id":"6dc2ca38.3d81c4","type":"api-current-state","z":"11e717f7.634048","name":"Are the Hall Lights on?","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.hall_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":540,"y":460,"wires":[["2eaf5da5.5597d2"],[]]},{"id":"2eaf5da5.5597d2","type":"api-current-state","z":"11e717f7.634048","name":"Is the brightness greater than 0","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.hall_dimmer_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":830,"y":500,"wires":[["ae9d17dc.32a6c8"],["578179b0.0f6648"]]},{"id":"ae9d17dc.32a6c8","type":"api-call-service","z":"11e717f7.634048","name":"Hall lights","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_lights","data":"{\t   \"brightness\": {{ payload }}\t}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":500,"wires":[[]]},{"id":"578179b0.0f6648","type":"change","z":"11e717f7.634048","name":"Set payload to 15","rules":[{"t":"set","p":"payload","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":580,"wires":[["ae9d17dc.32a6c8"]]},{"id":"3c7afddc.e23482","type":"api-current-state","z":"11e717f7.634048","name":"Is the Bedside light on?","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedside_light_kristian","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":490,"y":160,"wires":[["c5ae7eb1.60d85"],[]]},{"id":"a1478eb2.5bdfd","type":"server-state-changed","z":"11e717f7.634048","name":"Bedside Dimmer Brightness","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedside_dimmer_brightness","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":160,"wires":[["3c7afddc.e23482"]]},{"id":"c5ae7eb1.60d85","type":"api-current-state","z":"11e717f7.634048","name":"Is the brightness greater than 0","server":"1e6e196f.047067","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.bedside_dimmer_brightness","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":770,"y":200,"wires":[["6986cc1b.7495e4"],["18dd596a.d29e37"]]},{"id":"6986cc1b.7495e4","type":"api-call-service","z":"11e717f7.634048","name":"Kristian's Bedside Light","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bedside_light_kristian","data":"{\t   \"brightness\": {{ payload }}\t}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":200,"wires":[[]]},{"id":"18dd596a.d29e37","type":"change","z":"11e717f7.634048","name":"Set payload to 15","rules":[{"t":"set","p":"payload","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":280,"wires":[["6986cc1b.7495e4"]]},{"id":"d8f34353.78e9d","type":"server-state-changed","z":"11e717f7.634048","name":"Bedside Dimmer Turn on","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedside_dimmer_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":260,"wires":[["c5ae7eb1.60d85"],[]]},{"id":"d0f5be49.0a0b4","type":"api-call-service","z":"11e717f7.634048","name":"Kristian Bedside Light lights","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bedside_light_kristian","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":340,"wires":[[]]},{"id":"2fe2f7a7.c87d98","type":"server-state-changed","z":"11e717f7.634048","name":"Bedside Dimmer Turn Off","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedside_dimmer_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":135,"y":345,"wires":[["d0f5be49.0a0b4"],[]]},{"id":"febde13d.71177","type":"server-state-changed","z":"11e717f7.634048","name":"Pantry door sensor","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pantry_room_sensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":40,"wires":[["9f74e479.087218"]]},{"id":"f340c6ec.9ea1f8","type":"server-state-changed","z":"11e717f7.634048","name":"Bedside Switch Click","server":"1e6e196f.047067","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedside_switch_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":3000,"wires":[["235dd9af.152046"],[]]},{"id":"235dd9af.152046","type":"api-call-service","z":"11e717f7.634048","name":"Bedside light","server":"1e6e196f.047067","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedside_bulb","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":3000,"wires":[[]]}]